@import './reset';
@import './util';
@import './font';

:root {
  --text: 'NeueHaasGroteskText Std', 'Helvetica', Arial;
  --title: 'NeueHaasGroteskDisp Pro', 'Helvetica', Arial;
  --black: #0d0d0d; 
  --lightGrey: rgba(0,0,0,0.3);
  --grey: #f1f2f3;
}

@media (min-width: 1600px) {
  html {font-size: 140%}
}
@media (max-width: 600px) {
  html{font-size: 100%};
}

body {
  color: var(--black);
  font-family: var(--text);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  line-height: 1.3;
}

.logo{width: 180px; padding: 20px;}

a {text-decoration: none; color: inherit;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out color, 0.3s ease-in-out background-color;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: var(--title);
}
.invert {
  filter: invert(100%);
}

.rounded, .btn {border-radius: 1rem}
.nav-ul {flex-grow: 1; padding-right: 20px}
.header-img img{filter: brightness(0.85)}

.btn-nav.btn {
  border-radius: 13px;
  font-size: 10px;
  padding: 4px 20px;
}


span.wpcf7-not-valid-tip {
  margin-top: 0.5rem; margin-bottom: 1rem
}

article section {
  opacity: 0;
  transform: translateY(4rem);
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out transform;
}

.footer-logo .logo {padding: 0; margin-bottom: 2rem}
.logo {width: 9rem; box-sizing: border-box}
.logo svg {
  fill: #fff;
  width: 9rem;
}

footer .logo svg {fill: #000}

article section.in {
  opacity: 1; 
  transform: translateY(0)
}
.btn-nav.btn-nav2{margin-left: 10px}

.header-links {padding: 0px 20px;} 

.form p {display: none}

.btn {
  text-transform: uppercase;
  border-radius: 1rem;
  border: 1px solid var(--black);
  font-size: 0.7rem;
  padding: 0.2rem 1.5rem;
  padding-top: 0.25rem;
  transition: 0.3s ease-in-out background-color, 0.3s ease-in-out color, 0.3s ease-in-out border, 0.3s ease-in-out opacity;
}


.btn.btn-large { font-size: 1.1rem}

.btn.btn-dark{background-color: var(--black); color: #fff;}
.btn.btn-light{border: 1px solid #fff}

.btn.btn-dark:hover {opacity: 0.7}
.btn.btn-light:hover {opacity: 0.7}
.btn:hover {color: #fff; background-color: var(--black)}

p {font-size: 0.9rem}
p:last-of-type{margin-bottom: 0}

h1, h2, h3, h4, h5, h6, p {margin-bottom: 1rem}

ul {text-decoration: none; list-style-type: none}
.ofc{object-fit: cover}

.bb1b{border-bottom: 1px solid var(--black)}

.bb1lg{border-bottom: 1px solid var(--lightGrey)}
.bt1lg{border-top: 1px solid var(--lightGrey)}
.br1lg{border-right: 1px solid var(--lightGrey)}

.bb1b{border-bottom: 1px solid var(--black)}
.bt1b{border-top: 1px solid var(--black)}
.br1b{border-right: 1px solid var(--black)}

.b1lg{border: 1px solid var(--lightGrey)}
.b1b{border: 1px solid var(--black)}

.bgc-b {background-color: var(--black)}
.bgc-w {background-color: #fff}
.bgc-g{background-color: var(--grey)}

.c-w{color: #fff}

.mw70{max-width: 80rem}
.mw50{max-width: 50rem}
.mw30{max-width: 30rem}
.mxa{margin-left: auto; margin-right: auto}

.t-o {transition: 0.3s ease-in-out opacity}

.fsA, h1 {font-size: 2.7rem}
.fsB, h2, h3, .fsB p{font-size: 1.2rem}
.fsC, p {font-size: 0.9rem}
.fsD {font-size: 0.7rem} 

.xas{align-items: stretch}

a.bold {opacity: 0.4}

.sponsors-logos div { height: 12rem; }

.marquee h2{font-size: 7rem; box-sizing: border-box; padding-right:4rem}

#icon-parent{opacity: 0; visibility: hidden; transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility}
#icon-parent.open{opacity: 1; visibility: visible;}
#icon-parent.img-parking .img-parking {display: block}
#icon-parent.img-access .img-access {display: block}
#icon-parent .img-access, #icon-parent .img-parking {display: none}

.header-img {height: 350px; }
@media (min-width: 1600px) {
  .header-img {height: 500px}
}
@media (max-width: 800px) {
  .header-img {height: 200px}
}

@media (min-width: 1200px) {
  /* .nav-footer{padding: 0 2rem} */
}

a:not(.btn), .a{transition: 0.3s ease-in-out opacity}
a:not(.btn):hover, .a:hover {
  opacity: 0.7; 
}

p a {text-decoration: underline}

.step:nth-of-type(2n - 1) .rounded {
  position: relative
}

.space-open {
  height: 3rem;width: 3rem;
  bottom: 1rem; right: 1rem;
}
#space-opened {z-index: 11; opacity: 0; visibility: hidden; transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility}
#space-opened.open {opacity: 1; visibility: visible;}

.space-open svg {height: 3rem; width: 3rem;  background-color: #fff;   border-radius: 50%; padding:0.4rem}

.line{position: absolute}
.line-vert {
  border-bottom: 1px solid var(--lightGrey);
  top: 50%; transform: translateY(-50%)
}
.line-hor {
  border-bottom: 1px solid var(--lightGrey)
}
#map {height: calc(60vw - 8rem)}
.space-container img {z-index: 0 !important}
.space-container {
  height: 60vw;
  overflow: hidden;
  cursor: move !important;
}


.career-content {max-height: 0; transition: 0.3s ease-in-out max-height}
.career-post.open .career-content {max-height: 70rem}

img[data-src] {
  opacity: 0;
  transition: 0.3s ease-in-out opacity;

  &.loaded{opacity:1}
}

.sm-icon, .sm-icon svg {
  width:1.4rem; height: 1.4rem;
}

.search-icon2 svg, .search-icon2 {width: 1.6rem; height: 1.6rem}
.search-icon2 svg {transform: translateY(-0.1rem)}
.search-bg{background-color: rgba(255, 255, 255, 0.9)}
.search{z-index: 100; opacity: 0; visibility: hidden;  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility, 0.3s ease-in-out transform}

.search-close {transform: translateY(2rem); opacity: 0; transition: 0.3s ease-in-out opacity, 0.3s ease-in-out transform}
.search-close.open {opacity: 1; transform: translateY(0)}

.search input {transform: translateY(2rem); opacity: 0; transition: 0.3s ease-in-out opacity, 0.3s ease-in-out transform}
.search input.open{opacity: 1; transform: translateY(0)}
.search.open{opacity: 1; visibility: visible; transform: none}
.h-parent:hover .h-child.op0 {opacity: 100}
.h-parent:hover div{opacity: 0}

.nav{position: sticky; top: -2px; left: 0; background-color: #fff; font-size: 14px; padding: 0px 20px; padding-right: 0;}
.nav-item {padding: 14px 10px}

.nav-child{border-bottom: 1px solid var(--lightGrey)}
.nav-child:last-of-type{border: none}
.nav-child a{padding: 8px 14px;}
.nav-sub {top: 50px; opacity: 0; visibility: hidden; transition: 0.3s ease-in-out top, 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;} 
.nav-parent:hover .nav-sub {opacity: 1; visibility: visible; top: 40px;}

footer nav {padding:10px 30px}
footer section {height: 200px}
footer {font-size: 14px}
footer .footer-logo {padding: 40px 20px}
.footer-text{font-size: 10px}

.footer-linx h2 {transition: 0.3s ease-in-out transform}
.footer-linx .c6:hover h2 {
  transform: scale(1.03, 1.03)
}

.about-intro {
  height: 40vw;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
}

.mob-logo{display: none}

.twenty{width: 20%}
.subscript { font-size: 0.7rem; padding-left: 0.3rem; transform:translateY(-0.5rem) }

.img {height: calc(40vw - 12rem); background-color: var(--lightGrey)}

.video.playing img {opacity: 0}
.video.playing .play-btn {opacity: 0}
.video. img, .video .play-btn {opacity: 1}

.play-btn, .play-btn svg {height: 8rem; width: 8rem; transition: 0.3s ease-in-out transform, 0.3s ease-in-out opacity}
.play-btn svg {fill: #fff}


.parent {
  min-height: 100vh;
}

.mob-nav-btn {display: none}
.mob-nav-btn, .x-btn {
  top: 10px; right: 10px;
  border-radius: 14px;
  border: 1px solid var(--lightGrey);
  padding: 10px; 
  background-color: #fff;
  z-index: 10;
  
  & svg {height: 30px; width: 30px;}
}

.space-close{position: fixed;}

.asfs {align-self:flex-start}
.asfe{align-self: flex-end}

.search input {
  -webkit-appearance: none;
  outline: none;
}

form {
  & label { line-height: 1.5; margin-bottom: 0.3rem; display: block; } 
  & input, & textarea, & select { 
    border: 0; border-radius: 0px;
    width: 100%; border: 1px solid var(--lightGrey);
    padding: 0.5rem 0.5rem;

  }
  
  & .form-input { margin-bottom: 1rem }
  & .form-input.mb0{margin-bottom: 0rem}
  & textarea {height: 93.5%}


  & .form-input.c6 { width: 46% }
  & .c4 { width: 28% }  
}

.form-input br { display: none}

form.form-footer input { margin: auto }
.index-label {font-size: 0.8rem}

footer input {
  margin: 8px 0;
  padding: 4px 8px; border: 1px solid var(--lightGrey)
}
footer button {
  font-size: 10px;
  padding: 7px 8px;
  background-color: var(--black);
  color: #fff;
}
footer label {font-size: 10px}
.nl {padding: 10px 40px}
.header-caption {padding: 20px}

.search-icon svg {
  width: 16px; height: 16px;
}

.map-icon {height: 1.7rem; width: 1.7rem}
.icon-parent {z-index: 10}
.icon-parent img {width: 60vmin}

@media (max-width: 1200px) {
  .nav{font-size: 12px}
  .btn-nav.btn {font-size: 9px}
}

@media (max-width: 1088px) {
  .nav{font-size: 11px; padding-left: 10px;}
  .btn-nav.btn {font-size: 9px}
  .header-links{padding: 0 10px}
}

.light-img {width: 4rem}


@media (max-width: 1000px) {
  html{font-size: 80%;}
  .img {height: calc(45vw - 12rem); }
}

@media (max-width: 1010px) {


  .mob-nav-btn {display: block;}

  .header-caption {
    top: inherit; bottom: 0;
  }

  .mob-logo {display: block}
  .nav {
    display: none;
    border: none;
    position: fixed;
    top: 0; left: 0; height: 100vh; width: 100vw;
    z-index: 10;
    margin-bottom: 20px;
    overflow: scroll;
    font-size: 20px;
    &.open{opacity: 1; visibility: visible; display: block}
    & ul {height: inherit; border: none; padding-bottom: 40px;}

    & .nav-item {width: 100%; text-align: left; padding: 10px 0; }
    & .nav-item.nav-parent {padding-bottom: 0}
    & .nav-sub{top: 0; padding: 10px 0; padding-bottom: 0; position: relative; visibility: visible; opacity: 1; border: none; transition: 0s all}
    & .nav-child {border: none; padding: 0px; }
    & .nav-child a {padding: 10px 30px;} 
    & .nav-parent:hover .nav-sub {top: 0}


    & .nav-container { padding-top: 10px; align-items: start}
  }
  .header-links {display: none}
}

@media (max-width: 600px) {
  html{font-size: 140%}
  .fsA, h1 {font-size: 2rem}
  [sm~='fsA']{font-size: 2.7rem}
  [sm~='fsB']{font-size: 1.6rem}
  [sm~='fsC'], [sm~='fsC'] p {font-size: 0.8rem}
  .fsC, p {font-size: 0.8rem}

  [sm~='fsD']{font-size: 0.7rem} 

  .line{display: none}

  .img {height: calc(60vw); background-color: var(--lightGrey)}

  .about-intro {
    height: 60vw;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    filter: brightness(0.5);
  }
  
  .twenty {width: 33.33%;}

  [sm~='bb1b']{border-bottom: 1px solid var(--black)}

  [sm~='bb1lg']{border-bottom: 1px solid var(--lightGrey)}
  [sm~='bt1lg']{border-top: 1px solid var(--lightGrey)}
  [sm~='br1lg']{border-right: 1px solid var(--lightGrey)}

  [sm~='bb1b']{border-bottom: 1px solid var(--black)}
  [sm~='bt1b']{border-top: 1px solid var(--black)}
  [sm~='br1b']{border-right: 1px solid var(--black)}

  [sm~='b1lg']{border: 1px solid var(--lightGrey)}
  [sm~='b1b']{border: 1px solid var(--black)}
  [sm~='border0']{border: 0px}

  footer section {height: inherit}
  footer nav {padding: 40px}
  .nl {padding-top: 40px; padding-bottom: 00px} 
  .marquee h2{font-size: 4rem}
  #map {height: calc(100vw - 2rem)}
  .sponsors-logos div { height: 6rem; }
  .sm-icon, .sm-icon svg {
    width:1.9rem; height: 1.9rem;
  }
}

@media (max-width: 400px) {
  html{font-size: 110%}
}

